body{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 120px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: whitesmoke;
    gap: 10px;
    /* height: 100vh; */
}

header{
    grid-area: header;
    background-color: red;
    background-image: linear-gradient(to right, Red , Orange, Yellow, Green, Blue, Indigo, Violet);
    justify-self: center;
}

#footer{
    grid-area: footer;
    background-color: red;
    background-image: linear-gradient(to right, Red , Orange, Yellow, Green, Blue, Indigo, Violet);
    position: sticky; bottom: 0;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map content";
    background-color: lightcyan;
    display: grid;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 3fr; 
    grid-template-areas: "buttonHome" "survey";
    background-color: rgba(0, 255, 255, 0);
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

#theSurvey{
    grid-area: survey; 
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}