body{
    display: grid;
    grid-template-columns: 1fr; 
    grid-auto-rows: minmax(5px, auto);
    grid-template-areas: "header" "main_content" "footer";
    height: 100vh;
}

header{
    grid-area: header;
    background-color: white;
}

#footer{
    grid-area: footer;
    background-color: gray;
}

.fit-picture {
    width: 250px;
}

.main{
    display: grid;
    grid-area: main_content;
    grid-template-areas: "mappanel" "content";
}

#map{
    height:80vh;
    grid-area: mappanel;
}

#contents{
    grid-area: content;
}

html { 
    background-color: whitesmoke;
}

.main {
    background-color: aquamarine;
}
